*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('Clear\ Sky.jpg');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top center;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
.app-main{
    width: 50vh;
    margin: 100px auto;
    background-color: rgb(240,248,250);
    opacity: 0.6;
    padding: 20px;
    text-align: center;
}